.modal {
    position: fixed;    /* Stay in place */
    z-index: 1;         /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;        /* Full width */
    height: 100%;       /* Full height */
    overflow: auto;     /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    font-family: "Nunito";
    font-size: 16px;
    margin: auto;
    margin-top: 100px; /* Location of the box */
    padding: 20px;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: #2c7bb6;
    width: 45%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
