.filters-container {
  margin: 15px;
}

:host ::ng-deep .mat-list-item-content {
  display: flex;
  justify-content: space-between;
}

mat-list-item {
  margin: 0;
  padding: 0;
}

mat-list-item h1 {
  order: -1;
  margin: 0;
}

button.mat-icon-button {
  margin-bottom: 8px;
}

.spaced {
  margin-bottom: 20px;
}
