<app-nav-bar
    (explanationClicked)="displayModal('explanation')"
    (exploreClicked)="displayModal('explore')"
    (resetClicked)="test()"
></app-nav-bar>

<app-time-density></app-time-density>
<app-main-view></app-main-view>
<app-filters></app-filters>

<div class="placeholder"></div>
<app-date-density></app-date-density>
<app-message-display></app-message-display>

<app-explanation-modal
    *ngIf="showExplanation"
    (close)="displayModal('none')">
</app-explanation-modal>
<app-explore-modal
    *ngIf="showExplore"
    (close)="displayModal('none')"
    (loading)="displayModal('processing')">
</app-explore-modal>
<app-processing-modal
    *ngIf="showProcessing">
</app-processing-modal>
