<mat-toolbar>
  <span>FBMessage Explorer</span>

  <span class="example-spacer"></span>

  <button mat-raised-button color="primary" (click)="explanation()">
    <mat-icon>help</mat-icon>
    What is this?
  </button>

  <button mat-raised-button color="primary" (click)="explore()">
    <mat-icon>upload</mat-icon>
    Explore your own data
  </button>

  <button mat-raised-button color="primary" (click)="reset()">
    <mat-icon>refresh</mat-icon>
    Reset All Filters
  </button>

</mat-toolbar>