<ul class="navigation-bar">
  <li class="title">FBMessage Explorer</li>
  <li class="nav-item">
    <button 
      type="button" 
      class="custom-button" 
      (click)="explore()">
      Explore your own data
    </button>
  </li>
  <li class="nav-item">
    <button 
      type="button" 
      class="custom-button" 
      (click)="explanation()">
      What is this?
    </button>
  </li>
  <li class="nav-item">
    <button 
      type="button" 
      class="custom-button" 
      (click)="reset()">
      Reset All Filters
    </button>
  </li>
</ul>