.example-spacer {
    flex: 1 1 auto;
}

.icon-button {
  display: inline-block;
}

.raised-button {
  display: none;
  margin-left: 10px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 850px) {
  .icon-button {
    display: none;
  }

  .raised-button {
    display: inline-block;
  }
}