<div mat-dialog-content>
  <h1 mat-dialog-title>Download your data from Facebook</h1>
  <div>
    <ul>
      <li>Download your Facebook archive from <a href="https://www.facebook.com/dyi/"> this link</a></li>
      <li>Click "Download Your Information"</li>
      <li>Select the format "JSON"</li>
      <li>Select at least "Messages" in the list of information to download</li>
      <li>Click "Create file" and wait for the notification saying that your file is ready to download (around 10 minutes)</li>
      <li>Download the zip file, unzip it, and save it somewhere on your computer</li>
    </ul>
  </div>

  <h1 mat-dialog-title>Upload your data</h1>
  <div>
    <ul>
      <li>Click on the button below</li>
    </ul>
    <div class="input-container">
      <input type="file" class="inputfile" webkitdirectory=true (change)="readFiles($event)" #fileUpload>
      <button mat-raised-button color="primary" (click)="fileUpload.click()">
        <mat-icon>upload</mat-icon>
        Use your own file
      </button>
    </div>
    <ul>
      <li>Navigate to the Facebook archive you selected</li>
      <li>Select the "message" Folder and confirm</li>
    </ul>
  </div>

  <h1 mat-dialog-title>We are not the NSA, Facebook, or Cambridge Analytica</h1>
  <div>
    <p>
      You may get a warning saying that your data will be downloaded. While this can be frightening, this is actually false.
      The data will loaded <i>into your browser</i>, not on internet. Computations will be done locally
      without a single piece of data leaving your computer.
    </p>
    <p>
      The truth is we don't have any interest in your data, we don't even have servers to store it. We are just
      two students who want to empower you to do something cool with your data.
    </p>
    <p>
      All of the code behind this application is available <a href="https://github.com/adurivault/FBMessage">here</a>.
      It means that anyone familiar with programming can check that this application does what we say it does, and only what
      we say it does.
    </p>
    <p>
      If you are not familiar with programming, and you still do not trust us (Who can blame you? This is written
      by two strangers on internet after all...) you can cut your internet connexion before selecting the files. Once the
      page is loaded, everything will work fine without internet. This way you can be absolutely sure that the data is not sent to
      anybody.
    </p>

    <p>
      Original Authors :
      <a href="https://github.com/MathReynaud"> Mathilde Reynaud </a> |
      <a href="https://github.com/adurivault"> Augustin Durivault </a> <br>
    </p>

    <p>
      Refactor by :
      <a href="https://github.com/pjpscriv"> Peter Scriven </a>
    </p>
  </div>
</div>