<div mat-dialog-content>
  <h1 mat-dialog-title>What is this?</h1>
  <div mat-dialog-content>
    <p>
      This is a tool that helps you explore and visualize your own Facebook Messenger History.
    </p>
  </div>

  <h1 mat-dialog-title>What am I seeing?</h1>
  <div mat-dialog-content>
    <p>
      In the central pane, you can see all your messages. Horizontally you've got the date,
      and vertically the time of day. Each dot represents a message that you sent or received.
    </p>
    <p>
      On the left, and below this central pane, you can see a graph showing the quantity of messages sent
      depending on the date / the time of day. You can drag the edges of the zones to zoom in on a certain period.
    </p>
    <p>
      On the right side of the screen, there are a bunch of histograms. These histograms give
      you statistics about your messages (number of messsages sent, most active conversation, etc..),
      but more interestingly, they allow you to filter your analysis. If you click on a bar, you
      can keep only the messages corresponding to this attribute, and all the other graphs will
      update automatically. This way, you can analyse for example who sends more messages in a
      particular conversation. Or what conversations are more active on the weekend versus during the week.
    </p>
    <p>
      Finally, if you mouse over the dots in the central pane, you can see
      the content of each message in the bottom right-hand corner of your screen.
    </p>
  </div>

  <h1 mat-dialog-title>How to proceed?</h1>
  <div mat-dialog-content>
    <p>
      The data displayed behind this window is random data. Do some tests to understand
      how it works, then click on "Explore your own data" to play with your messages.
    </p>
    <p>
      Authors :
      <a href="https://github.com/MathReynaud"> Mathilde Reynaud </a> |
      <a href="https://github.com/adurivault"> Augustin Durivault </a>
      <br>
    </p>
  </div>
</div>