mat-list-item:nth-child(1) {
  margin-bottom: 8px;
  padding-left: 4px;
}

mat-form-field {
  width: 100%;
}

::ng-deep .mat-select-arrow {
  opacity: 0;
}

::ng-deep mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
  border-radius: 10px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

[matPrefix] {
  margin-right: 8px;
}

[matListAvatar] {
  width: 40px;
  height: 40px;
  font-size: 40px;
}
