mat-list-item:nth-child(1) {
  margin-bottom: 8px;
  padding-left: 4px;
}

mat-form-field {
  width: 90%;
}

@mixin holder-theme($theme) {
  $background: map-get($theme, background);

  app-thread-list {
    .holder {
      position: absolute;
      z-index: 10;
      width: 100%;
      background-color: mat-color($background);
    }
  }
}


.mat-list-base .mat-list-item.list-head-spacer {
  height: 98px; /* Whoo magic number! */
}

/* Material Select Overrides */
:host ::ng-deep .mat-list-item-content {
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep .mat-select-arrow {
  opacity: 0;
}

:host ::ng-deep mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
  border-radius: 10px;
}

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

[matPrefix] {
  margin-right: 8px;
}

/* Checkbox Overrides */
.all-threads-checkbox {
  margin-bottom: 22px;
}

/* List Item Overrides */
:host ::ng-deep .mat-chip-list-wrapper mat-chip {
  padding: 0 8px;
}

:host ::ng-deep mat-list .mat-list-item .mat-list-text .thread-list-line {
  display: flex;
  justify-content: space-between;
}

.thread-list-line h3 {
  margin-bottom: 0;
}

[matListAvatar] {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

h3 {
  max-width: 72%;
  text-overflow: ellipsis;
  overflow: hidden;
}

i {
  color: #aaa;
}
